body { 
    margin: 0;
    background: #1F2937;
}

.container,
.input-section,
.unit-conversion 
{
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    justify-content: center;
    align-items: center;
}

.unit-input,
.convert-btn,
.alert
{
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}

.container { 
    margin: 1.5em auto; 
    text-align: center;
    width: 40%;
    min-width: 400px;
}


/* ------ input section ------ */
.input-section {
    background:#6943FF;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.main-title { 
    margin: 1em auto;
    font-size: 1.4rem;
}

.unit-input {
    background: #6943FF;
    border: 2px solid #B295FF;
    margin: 0 auto 1em auto;
    font-size: 1.4rem;
    color: white;
    padding: 0.4em 0.2em;
    width: 16%;
}

.convert-btn { 
    color: #3D3D3D;
    font-size: 0.8em;
    padding: 0.5em 1em;
    border: 2px solid white;
    background: white;
    margin: 0 auto 2em auto;
}

.convert-btn:hover {
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background: rgb(244, 244, 244);
}


/* ------ convert section ------ */
#convert-section { 
    background: #F4F4F4;
    width: 100%;
}

/* applied to each conversion section "length", "volume" & "mass" */
.unit-conversion { 
    margin: 2em;
    background: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0.5px rgba(0, 0, 0, 0.2);
}

.sub-header { 
    margin: auto auto 0.5em auto;
    font-size: 1rem;
    font-weight: 500;
    color: #5A537B;
}

.sub-info { 
    margin:  0.5em auto auto auto;
    font-size: 0.85rem;
    color: #353535;
    cursor: pointer;
}

/* alert message and toggle class to turn it on/off */
.alert
{
    position: absolute;
    top: 2.5%;
    left: 31.5%;
    width: 35%;
    padding: 0.5em 1em;
    color: white;
    font-size: 0.8rem;
    background: #1F2937;
    line-height: 2em;
    box-shadow: 1px 1px 10px 3px rgba(255, 255, 255, 0.2);
}

.none{
    opacity: 0;
}

@media (max-width: 650px)
{
    .container {
        width: 90%;
        margin: 3em auto;
    }
}